<!-- Pixel Glass -->
<style>
  HTML {
    background-repeat: no-repeat;
    background-position: 50% 0;
    /* Mobile layout by default */
    background-image: url("pic/pink-photo-mobile.jpg");
  }

  /* Tablet */

  @media ( min-width: 660px) {
    HTML {
      /* Tablet layout */
      background-image: url("pic/pink-photo-tablet.jpg");
    }
  }

  /* Desktop */

  @media ( min-width: 960px) {
    HTML {
      /* Desktop layout */
      background-image: url("pic/pink-photo-desktop.jpg");
    }
  }
</style>
<link href="/pic/styles.css" rel="stylesheet">
<script src="/pic/script.js"></script>
