.advantages {
  width: 320px;
  background-color: @light-grey;
  position: relative;
  padding-top: 50px;
  text-align: center;

  &::before {
    content: "";
    width: 320px;
    position: absolute;
    left: 0;
    top: -32px;
    height: 60px;
    transform: skew(0, -10deg);
    background-color: #f2f2f2;
  }
}

.advantages__item {
  margin-bottom: 40px;
}

.advantages__title {
  font-family: "OpenSansBold", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: @black-two;
  margin-bottom: 32px;
}


.advantages__description {
  font-size: 14px;
  line-height: 24px;
  color: @dark;
}
