.call {
  display: flex;
  justify-content: center;
  align-items: center;
  color: @dark;
  background-color: @white;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}

.call-wrapper {
  position: relative;
  min-height: 170px;
  margin-bottom: 14px;
}

.call--photos {
  width: 100%;
  margin-bottom: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.call--contest {
  margin-bottom: 0;
  height: 162px;
  margin-top: 9px;
  position: relative;
}

.call__please {
  display: none;
}

.call--photos-last {
  margin-bottom: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.call-wrapper--last {
  min-height: 137px;
  margin-bottom: 18px;
}

@media (min-width: @tablet-width) {
  .call {
    font-size: 18px;
    margin-top: 29px;
    margin-bottom: 28px;
  }

  .call-wrapper {
    min-height: 228px;
    margin-bottom: 0;
  }

  .call-wrapper--last {
    min-height: 174px;
  }

  .call--contest {
    height: 184px;
    margin-bottom: 16px;
    margin-top: 44px;
  }

  .call__please {
    display: inline;
  }

  .call--photos {
    margin: 0;
    top: 54%;
  }

  .call--photos-last {
    margin-top: 6px;
    margin-bottom: 42px;
    top: 40%;
  }
}

@media (min-width: @desktop-width) {
  .call-wrapper {
    position: relative;
    margin: 0 auto;
    margin-bottom: 68px;
    min-height: 171px;
    width: @desktop-width;
  }

  .call-wrapper--last {
    min-height: 85px;
    margin-bottom: 46px;
  }

  .call {
    font-size: 18px;
    margin-top: 29px;
    margin-bottom: 37px;
  }

  .call--last {
    min-height: auto;
    margin-top: 7px;
  }

  .call--photos-last {
    margin-top: 0;
    padding-top: 8px;
    min-height: 48px;
    margin-bottom: 0;
  }

  .call--contest {
    display: block;
    margin-top: 91px;
    margin-bottom: 77px;
    min-height: 60px;
    height: 60px;
  }

  .call--photos {
    margin-bottom: 33px;
    margin-top: 35px;
    padding-top: 0;
    min-height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
