.call {
  height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: @dark;
  background-color: @white;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .call {
    font-size: 18px;
  }
}
