.contest-form {
  color: @dark;

  label {
    color: @lipstick;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }
}

.contest-form__section--names {
  background-color: @white;
  padding-bottom: 50px;
}

.contest-form__section--jorneys {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  background-color: @light-grey;
}

.contest-form__section--app {
  padding: 40px 20px;
  background-color: @light-grey;
}

.contest-form__section--emotions {
  padding: 40px 20px;
  background-color: @white;
}

.contest-form__contacts {
  background-color: @white;
  padding: 40px 20px;
}

.contest-form__emotions-area {
  width: 276px;
  height: 197px;
}

.contest-form__send {
  text-align: center;
}
