.contacts {
  padding-top: 50px;
  text-align: center;
  color: @dark;
}

.contacts__questions {
  font-family: "OpenSansLight", "Helvetica", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 44px;
}

.contacts__item {
  margin-bottom: 28px;
}

.contacts__item--title {
  font-family: "OpenSansBold", "Helvetica", sans-serif;
  font-size: 18px;
}

.contacts__item--description {
  font-family: "OpenSansLight", "Helvetica", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: @lipstick;
}

@media (min-width: @tablet-width) {
  .contacts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .contacts__questions {
    font-size: 40px;
    text-transform: none;
    width: 100%;
  }

  .contacts__item {
    width: 50%;
    &:last-child {
      // margin-left: 100px;
    }
  }

  .contacts__item--title {
    font-size: 18px;
  }

  .contacts__item--description {
    text-transform: none;

  }

}
