.main-nav {
  min-height: 240px;
  width: 320px;
}

.main-nav__toggle {
  background: transparent;
  border: none;
  position: relative;
}

.main-nav__header {
  display: flex;
  box-sizing: border-box;
  height: 69px;
  align-items: center;
  justify-content: space-between;
  padding: 22px 20px;
  box-shadow: 0 1px 0 0 @black-two;
}

.main-nav__item {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "OpenSansBold", "Helvetica", sans-serif;
  font-size: 18px;
  box-shadow: 0 1px 0 0 @black-two;

  a {
    text-decoration: none;
  }
}

.main-nav__list {
  background-color: @dark;
  margin: 0;
  padding: 0;
  margin-top: 1px;
  list-style-type: none;
}

.main-nav__list--closed {
  display: none;
}

.main-nav__list--open {
  display: block;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: @tablet-width;
    min-height: 240px;
  }

  .main-nav__header {
    height: 110px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      height: 110px;
      opacity: 0.3;
      background-color: #17212e;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav__header {
    width: @desktop-width;
  }
}
