.map__image {
  background-image: url(/img/bg-map-mobile@1x.png);
  width: 100%;
  height: 200px;
}

@media (min-width: @tablet-width) {
  .map__image {
    background-image: url(/img/bg-map-tablet@1x.jpg);

  }

}
