.map {
  position: relative;
  width: @mobile-width;
  margin: 0 auto;
  overflow-x: hidden;
}

.map__picture {
  position: relative;
  display: block;
  overflow: hidden;
  height: 200px;
}

.map__image {
  width: @mobile-width;
  position: absolute;
  top: -433px;
  left: 0;
}

.map__marker {
  position: absolute;
  top: 109px;
  left: 142px;
}

.map-triangle {
  width: 100%;
  position: absolute;
  top: 0;
  fill: #ffffff;
  z-index: 1;
  transform: scale(1.5, 1.5);
  height: 33px;
  overflow-x: hidden;
}


@media (min-width: @tablet-width) {
  .map {
    margin-bottom: 20px;
    overflow: hidden;
    width: @tablet-width;
  }

  .map__picture {
    height: 372px;
  }

  .map__image {
    object-fit: cover;
    width: 100%;
    top: -323px;
    transform: scale(1.06);

    &::before {
      display: none;
    }
  }

  .map-triangle {
    top: 13px;
    transform: scale(2.5, 2.5);
  }

  .map__marker {
    top: 194px;
    left: 312px;
  }
}


@media (min-width: @desktop-width) {
  .map {
    width: @desktop-width;
    margin: 0 auto;
    margin-bottom: 54px;
  }

  .map__picture {
    height: 494px;
  }

  .map__image {
    width: @desktop-width;
    object-position: 0 0;
    position: absolute;
    top: -289px;
    left: 25px;
    height: auto;
  }

  .map-triangle {
    top: -13px;
    transform: scale(1, 0.8);
    height: 124px;
  }

  .map__marker {
    top: 248px;
    left: 583px;
  }
}
