.page-header {
  color: @white;

  a {
    color: @white;
  }
}

.page-header-wrap {
  min-height: 495px;
  position: relative;
  width: 320px;
  margin: 0 auto;
  background-color: #233243;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position-y: 260px;
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.page-header-wrap--closed {
  background-position-y: 0;
  min-height: 235px;
  background-size: cover;
}

.page-header-wrap--index {
  background-size: contain;
}

.page-header__logo {
  position: relative;

  &:active .page-header__logo-image {
    fill: @white;
    opacity: 0.3;
  }
}

.page-header__logo-image {
  width: 75px;
  height: 22px;
  fill: @white;
}

.page-header__image {
  display: block;
  position: relative;
  object-fit: contain;
  left: -31px;
  width: 320px;
  height: 287px;
}

@media (min-width: @tablet-width) {
  .page-header-wrap {
    position: relative;
    width: @tablet-width;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    min-height: 696px;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-header-wrap--index {
    background-position-y: 258px;
    background-position-x: -265px;
    background-size: 180%;
    min-height: 985px;

    @media (min-resolution: @retina-dppx) {
      background-position-y: 258px;
      background-position-x: -265px;
      background-size: 180%;
    }
  }

  .page-header-wrap--closed.page-header-wrap--index {
    min-height: 730px;

    @media (min-resolution: @retina-dppx) {
      background-position-y: -9px;
      background-position-x: -287px;
      background-size: 190%;
    }
  }

  .page-header-wrap--photo {
    background-position-y: 253px;
    background-size: auto;
    background-position-x: -271px;
    min-height: 696px;
  }

  .page-header__logo {
    &:hover .page-header__logo-image {
      fill: @lipstick;
    }

    &:active .page-header__logo-image {
      fill: @white;
      opacity: 0.3;
    }
  }

  .page-header__logo-image {
    width: 147px;
    height: 40px;
    fill: @white;
  }

  .page-header-wrap--closed {
    background-position-y: 0;
    background-position-x: -272px;
    min-height: 440px;
    background-size: auto;
  }

  .page-header__image {
    width: 100%;
    position: absolute;
    height: 545px;
    right: 1px;
    top: 439px;
    left: auto;
    object-fit: cover;
  }

  .page-header__image--closed {
    top: 185px;
    left: 0;
    object-fit: cover;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-height: 395px;
  }

  .page-header-wrap {
    width: @desktop-width;
    position: relative;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position-x: -673px;
    background-position-y: 16px;
    background-size: 212%;
    min-height: auto;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .page-header-wrap--closed {
    height: 395px;
  }

  .page-header--index {
    height: 853px;
  }


  .page-header-wrap--closed.page-header-wrap--index {
    min-height: 855px;
    background-position-y: 11px;
    background-position-x: -681px;
    background-size: 212%;

    @media (min-resolution: @retina-dppx) {
      background-position-y: 14px;
      background-position-x: -672px;
      background-size: 212%;
    }
  }

  .page-header__image {
    background-image: url("../img/iphone-hand-desktop@1x.png");
    width: 1050px;
    position: absolute;
    height: 645px;
    right: 4px;
    left: auto;
    top: 210px;
  }
}
