.plans {
  background-color: @light-grey;
  color: @dark;
  padding-top: 60px;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    top: -32px;
    height: 60px;
    transform: skew(0, -10deg);
    background-color: #f2f2f2;
  }

  td {

    border: solid 1px #e5e5e5;
  }

  .plans__header-text {
    font-family: "OpenSansBold", "Helvetica", sans-serif;
  }

  .plans__header-price {
    font-family: "OpenSansLight", "Helvetica", sans-serif;
  }

  thead {
    background-color: @dark;
    color: @white;
  }

  .plans__table {
    background-color: @white;
    border-collapse: collapse;
  }

  .plans__yes {
    fill: @leafy-green
  }

  .plans__no {
    fill: @orange-red;
  }
}

@media (min-width: @tablet-width) {
  .plans {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 100px;

    &::before {
      transform: skew(0, -5deg);
    }
  }
}

@media (min-width: @desktop-width) {
  .plans {
    font-size: 18px;
    line-height: 30px;
    padding-top: 88px;
    display: flex;
    justify-content: center;

    th {
      height: 94px;
    }

    td {
      width: 234px;
      height: 59px;
    }

    &::before {
      display: none;
    }
  }

  .plans__table {
    width: 936px;
  }

  .plans__cell--first {
    padding-left: 19px;
    padding-top: 11px;
  }

  .plans__cell {
    padding-top: 24px;
    text-align: center;
  }

  .plans__hit {
    position: relative;
    &::before {
      content: "ХИТ";
      position: absolute;
      font-family: "OpenSansBold", "Helvetica", sans-serif;
      font-size: 14px;
      line-height: 30px;
      color: @white;
      z-index: 1;
      left: 10px;
      top: 11px;
      transform: rotate(-45deg);
    }
  }

  .plans__hit-image {
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .plans__header-text {
    font-size: 18px;
    line-height: 30px;
  }

  .plans__header-price {
    font-size: 24px;
    line-height: 30px;
  }

  .plans__slider-toggles {
    display: none;
  }
}
