@import "./variables.less";
@import "./images.less";
@import "./fonts.less";
@import "./advantages.less";
@import "./apps.less";
@import "./call.less";
@import "./comment.less";
@import "./contestForm.less";
@import "./footer.less";
@import "./header.less";
@import "./mainNav.less";
@import "./offer.less";
@import "./pageHeader.less";
@import "./pageMain.less";
@import "./panorama.less";
@import "./photos.less";
@import "./reviews.less";
@import "./plans.less";
@import "./contacts.less";
@import "./uploadPhoto.less";
@import "effect.less";
@import "map.less";

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: "OpenSans", "Arial", "Helvetica", sans-serif;
}

body * {
  box-sizing: border-box;
}
