@import "./fonts.less";
@import "./variables.less";
@import "./images.less";
@import "./advantages.less";
@import "./apps.less";
@import "./call.less";
@import "./comment.less";
@import "./contestForm.less";
@import "./footer.less";
@import "./header.less";
@import "./mainNav.less";
@import "./offer.less";
@import "./pageHeader.less";
@import "./pageMain.less";
@import "./panorama.less";
@import "./photos.less";
@import "./reviews.less";
@import "./plans.less";
@import "./contacts.less";
@import "./uploadPhoto.less";
@import "effect.less";
@import "map.less";
@import "social.less";
@import "madeBy.less";
@import "slider.less";
@import "./sliderInput.less";

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: "OpenSans", "Arial", "Helvetica", sans-serif;
}

body * {
  box-sizing: border-box;
}

.tablet-visible {
  display: none;
}

.desktop-visible {
  display: none;
}

.mobile-visible {
  display: inline;
}

.visualy-hidden {
  display: none;
}

@media (min-width: @tablet-width) {
  .mobile-visible {
    display: none;
  }

  .desktop-visible {
    display: none;
  }

  .tablet-visible {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .mobile-visible {
    display: none;
  }

  .tablet-visible {
    display: none;
  }

  .desktop-visible {
    display: inline;
  }
}
